<section class="container" ng-controller="ChaptersController">
  <div class="page-header">
    <h1>New Chapter</h1>
  </div>
  <div class="col-md-12">
    <form name="chapterForm" class="form-horizontal" ng-submit="createChapter(chapterForm.$valid)" novalidate>
      <fieldset>
        <!-- Chapter Image -->
        <div class="form-group text-center">
          <img ng-src="{{imageURL}}" class="img-thumbnail user-profile-picture">
          <div class="text-center form-group">
            <button type="button" class="btn btn-primary" ng-click="resetImageURL()">Default</button>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="picture">Profile Picture URL (Optional)</label>
          <input name="picture" type="text" ng-model="imageURL" id="picture" class="form-control" placeholder="Enter a picture URL" required>
          <div ng-messages="articleForm.picture.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Profile Picture URL is required.</p>
          </div>
        </div>
        <!-- Chapter Name -->
        <div class="form-group" show-errors>
          <label for="title">Chapter Name</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Chapter title is required.</p>
          </div>
        </div>
        <!-- Chapter President -->
        <div class="form-group" show-errors>
          <label for="president">Chapter President</label>
          <input name="president" type="text" ng-model="president" id="president" class="form-control" placeholder="President" required>
          <div ng-messages="chapterForm.president.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Chapter President is required.</p>
          </div>
        </div>
        <!-- Chapter President -->
        <div class="form-group" show-errors>
          <label for="presidentemail">Chapter President Email</label>
          <input name="presidentemail" type="email" ng-model="presidentemail" id="presidentemail" class="form-control" placeholder="President Email" required>
          <div ng-messages="chapterForm.presidentemail.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Chapter President Email is required.</p>
            <p class="help-block error-text" ng-message="email">Chapter President Email is invalid.</p>
          </div>
        </div>
        <!-- Chapter Vice President -->
        <div class="form-group" show-errors>
          <label for="vice">Chapter Vice-President</label>
          <input name="vice" type="text" ng-model="vice" id="vice" class="form-control" placeholder="Vice" required>
          <div ng-messages="chapterForm.vice.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Chapter Vice-President is required.</p>
          </div>
        </div>
        <!-- Chapter Vice-President -->
        <div class="form-group" show-errors>
          <label for="viceemail">Chapter Vice-President Email</label>
          <input name="viceemail" type="email" ng-model="viceemail" id="viceemail" class="form-control" placeholder="Vice-President Email" required>
          <div ng-messages="chapterForm.viceemail.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Chapter Vice-President Email is required.</p>
            <p class="help-block error-text" ng-message="email">Chapter Vice-President Email is invalid.</p>
          </div>
        </div>
<!--
        Upload image <input type="file" data-ng-file-select="onFileSelect($files)" accept="image/png, image/jpeg">
        <span data-ng-if="uploadInProgress">Upload progress: {{ uploadProgress }}</span>
        <img data-ng-src="uploadedImage" data-ng-if="uploadedImage">
-->
        <!-- Chapter Location -->
        <div class="form-group" show-errors>
          <label for="location">Location</label>
          <input name="location" type="text" ng-model="location" id="location" class="form-control" placeholder="Location" required>
          <div ng-messages="chapterForm.location.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Chapter location is required.</p>
          </div>
        </div>
        <!-- Chapter Content -->
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
