<section class="container" class="container" ng-controller="ChaptersController" ng-init="findChapter()">
  <div class="page-header">
    <h1>Chapters</h1>
  </div>
  <!-- Search Filter -->
  <div class="row" style="margin: 2em 0;">
    <div class = "col-md-4 col-md-offset-4">
    <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
    </div>
  </div>
  <!-- List of all Chapters -->
  <div class="list-group">
    <a ng-repeat="chapter in pagedItems" ui-sref="chapters.view({chapterId: chapter._id})" class="list-group-item">
      <div class="row">
        <center>
          <div class="col-md-4">
            <img ng-src="{{chapter.profileImageURL}}" alt="{{chapter.title}}"  class="user-profile-picture">
          </div>
          <h3 class="">{{chapter.title}}</h3>
          <div class="col-md-8">
            <p class="list-group-item-text" ng-bind="chapter.content"></p>
          </div>
        </center>
      </div> <!-- End Row -->
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="chapters.$resolved && !chapters.length">
    No chapters yet, why don't you <a ui-sref="chapters.create">create one</a>?
  </div>
  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
