<section class="container" ng-controller="ChaptersController" ng-init="findOneEvent(); findOneChapter()">
  <div class="page-header">
    <h1 ng-bind="sgrEvent.title"></h1>
  </div>
  <div col="row">
    Start Time:
    <p class="lead" ng-bind="sgrEvent.startTime | date:'shortTime'"></p>
    End Time:
    <p class="lead" ng-bind="sgrEvent.endTime | date:'shortTime'"></p>
  </div>

    Date:
    <p class="lead" ng-bind="sgrEvent.date  | date:'fullDate'"></p>
    Location:
  <div class="pull-right" ng-show="authentication.user._id == sgrEvent.user._id && chapter.title == authentication.user.affiliation  && (authentication.user.roles == 'admin' || authentication.user.roles == 'superadmin')">
    <a class="btn btn-primary" ui-sref="edit-sgr-event({sgrEventId: sgrEvent._id})" tooltip="Edit Event">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="removeEvent();" tooltip="Remove Event">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
    Description
  <p class="lead" ng-bind="sgrEvent.content"></p>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="sgrEvent.created | date:'mediumDate'"></span>
      by
      <span ng-bind="sgrEvent.user.displayName"></span>
    </em>
  </small>
</section>
