<section class="container" ng-controller="ChaptersController">
  <!-- Chapter -->
  <div class="col-md-6" ng-init="findOneChapter()">
    <div class="page-header">
      <h1 ng-bind="chapter.title"></h1>
    </div>
    <div>
      Eboard:<p></p>
      President: <p class= "lead" ng-bind="chapter.president"></p>
      President Email: <p class= "lead" ng-bind="chapter.presidentemail"></p>
      Vice President: <p class= "lead" ng-bind="chapter.vice"></p>
     Vice President Email: <p class= "lead" ng-bind="chapter.viceemail"></p>
      
      Location:
      <p class="lead" ng-bind="chapter.location"></p>
    </div>
      Description:
    <p class="lead" ng-bind="chapter.content"></p>


    <div class="pull-right" ng-show="authentication.user._id == chapter.user._id">
      <a class="btn btn-primary" ui-sref="chapters.edit({chapterId: chapter._id})" tooltip="Edit Chapter Info">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="removeChapter();" tooltip="Remove Chapter">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
  </div>
  <!-- Event List -->
  <div class="col-md-6" ng-init="findEvent()">
    <div class="page-header">
      <h1>List of Events</h1>
    </div>
    <div class="list-group">
      <a ng-repeat="sgrEvent in sgrEvents" ui-sref="view-sgr-event({sgrEventId: sgrEvent._id, chapterId: chapter._id})" class="list-group-item">
        <small class="list-group-item-text">
          Posted on
          <span ng-bind="sgrEvent.created | date:'mediumDate'"></span>
          by
          <span ng-bind="sgrEvent.user.displayName"></span>
        </small>
        <h4 class="list-group-item-heading" ng-bind="sgrEvent.title"></h4>
        <p class="list-group-item-text" ng-bind="sgrEvent.content"></p>
      </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="!sgrEvents.length">
      No events yet, why don't you <a ui-sref="create-event({chapterId: chapter._id})">create one</a>?
    </div>
    <div class="pull-right" ng-show="authentication.user._id == chapter.user._id" ng-if="sgrEvents.length">
      <a class="btn btn-primary" ui-sref="create-event({chapterId: chapter._id})" tooltip="Create New Event">
        <i class="glyphicon glyphicon-pencil"></i>
      </a>
    </div>
  </div>
</section>
