<section ng-controller="HomeController" ng-cloak>
  <div class="home-slider">
    <carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
 
 <!--
  
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
      <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="noWrapSlides">
          Disable Slide Looping
        </label>
      </div>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div>

-->
    <!-- History Section -->
  <div class="container">
    <!-- Video Heading -->
    <div class="row">
      <h1 id="home-info">History</h1>
      <hr class="element-padding">
    </div>
    <!-- Video Row -->
    <div class="row">
        <div class="col-sm-12 element-padding">
          <iframe id="home-video" align="middle" height="315" src="https://www.youtube.com/embed/1t97YtXZbA8" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <!-- History Script -->
    <div class="row">
      <div class="col-sm-12">
        <p class="element-padding">Sigma Gamma Rho Sorority, Inc. (ΣΓΡ) was founded on November 12, 1922, at Butler University in Indianapolis, Indiana by seven young educators. It was incorporated within the state of Indiana in December 1922 and became a national collegiate sorority on December 30, 1929, when a charter was granted to the Alpha chapter.
          The sorority is a non-profit whose aim is to enhance the quality of life within the community. Public service, leadership development and the education of youth are the hallmark of the organization's programs and activities.
          Founded in the midst of segregation, Sigma Gamma Rho Sorority, Inc. is the only sorority of the four historically African-American sororities which comprise the National Pan-Hellenic Council (NPHC) established at a predominantly white campus.
          Sigma Gamma Rho Sorority,Inc. has over 100,000 members with more than 500 undergraduate and alumnae chapters throughout the United States, Bermuda, The Bahamas, Canada, Africa and Korea. Sigma Gamma Rho also supports two affiliates: the Rhoers, a group of young women, and the Philos, women who are friends of the sorority.</p>
      </div>
    </div>
  </div>
</section>
