<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Guests</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>



  <div class="list-group">
    <a ng-repeat="user in pagedItems" class="list-group-item">

      <!--ui-sref="admin.user({userId: user._id})"-->
      <button type="button" class="btn btn-success pull-right" ng-click="approve();">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button type="button" class="btn btn-danger pull-right" ng-click="deny();">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button type="button" class="btn btn-info pull-right" ng-click="info(user._id);">
        <span class="glyphicon glyphicon-search"></span>
      </button>


      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>



  </div>


  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
