<section class="container">














  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Guests</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in pagedItems" class="list-group-item">
      <button type="button" class="btn btn-success pull-right" ng-click="approve(user);">
        <span class="glyphicon glyphicon-ok"></span> Approve
      </button>
      <button type="button" class="btn btn-danger pull-right" ng-click="deny(user);">
        <span class="glyphicon glyphicon-remove"></span> Deny
      </button>
      <button type="button" class="btn btn-primary pull-right" ng-click="info(user);">
        <span class="glyphicon glyphicon-search"></span> Info
      </button>
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text" ng-bind="user.email"></p>
      <p ng-if="!user.email" class="list-group-item-text">(no email provided)</p>
    </a>
  </div>
  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
