<section class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{modalHeader}}</h4>
        </div>
        <div class="modal-body">
          <p>{{modalBody}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="modalMethod()" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in pagedItems" class="list-group-item">

      <!-- If I am a superadmin and they are not an admin, I can promote them -->
      <button ng-if="isSuperAdmin(authentication.user.roles) && !isAdmin(user.roles)"
              type="button"
              class="btn btn-success pull-right"
              data-toggle="modal"
              data-target="#myModal"
              ng-click="setModalInformation('Confirmation', 'Are you sure you want to promote this user to admin privileges?', user, promote)">
              <span class="glyphicon glyphicon-arrow-up"></span> Promote</button>
      <!-- If I am a superadmin and they are an admin, I cannot promote them -->
      <button ng-if="isSuperAdmin(authentication.user.roles) && isAdmin(user.roles)" type="button" class="btn btn-default pull-right" disabled>
          <span class="glyphicon glyphicon-ban-circle"></span> Promote
      </button>
      <!-- If I am a superadmin, I can demote anybody -->
      <button ng-if="isSuperAdmin(authentication.user.roles)"
              type="button"
              class="btn btn-danger pull-right"
              data-toggle="modal"
              data-target="#myModal"
              ng-click="setModalInformation('Confirmation', 'Are you sure you want to demote this user to guest privileges?', user, demote)">
              <span class="glyphicon glyphicon-arrow-down"></span> Demote</button>

      <!-- If I am not a superadmin, I cannot promote anybody -->
      <button ng-if="!isSuperAdmin(authentication.user.roles)" type="button" class="btn btn-default pull-right" disabled>
        <span class="glyphicon glyphicon-ban-circle"></span> Promote
      </button>

      <!-- If I am not a superadmin, I cannot demote myself -->
      <button ng-if="!isSuperAdmin(authentication.user.roles) && authentication.user._id === user._id" type="button" class="btn btn-default pull-right" disabled>
        <span class="glyphicon glyphicon-ban-circle"></span> Demote
      </button>

      <!-- If I am not a superadmin, I cannot demote other admins -->
      <button ng-if="!isSuperAdmin(authentication.user.roles) && authentication.user._id !== user._id && isAdmin(user.roles)" type="button" class="btn btn-default pull-right" disabled>
        <span class="glyphicon glyphicon-ban-circle"></span> Demote
      </button>

      <!-- If I am not a superadmin, I can demote users -->
      <button ng-if="!isSuperAdmin(authentication.user.roles) && !isAdmin(user.roles)"
              type="button"
              class="btn btn-danger pull-right"
              data-toggle="modal"
              data-target="#myModal"
              ng-click="setModalInformation('Confirmation', 'Are you sure you want to demote this user to guest privileges?', user, demote)">
              <span class="glyphicon glyphicon-arrow-down"></span> Demote</button>

      <button type="button" class="btn btn-primary pull-right" ng-click="info(user._id);">
        <span class="glyphicon glyphicon-search"></span> Info
      </button>


      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text" ng-bind="user.email"></p>
      <p ng-if="!user.email" class="list-group-item-text">(no email provided)</p>
      <!--<p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>-->
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
