<section class="container" ng-controller="ChatController">

  <!-- Content Wrapper -->
  <div class="row content-wrapper" style="padding-top: 40px;">

    <!-- Chat Wrapper-->
    <div class="col-md-5 chat-wrapper">
      <div class="row page-header title">
        <div class="col-lg-12 small">
          <h1 class="inline-block"><small>Chat</small></h1>
        </div>
        <div class="col-sm-12 col-md-12 input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
          </span>
          <input type="text" ng-disabled="!(messages.length > 0)" class="form-control" placeholder="Search" data-ng-model="filterMessages"/>
          <span class="input-group-addon">
            {{(messages | filter:filterMessages).length}} Items
          </span>
        </div>
      </div> <!-- page-header-->
      <div class="text-area">
        <ul class="list-unstyled">
          <li class="col-xs-12 col-md-offset-0 col-md-12 chat-message" ng-repeat="message in messages | filter:filterMessages ">
            <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
            <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
            <div class="pull-left chat-message-details">
              <strong ng-bind="message.username"></strong>
              <br>
              <span ng-bind="message.text"></span>
            </div>
          </li>
        </ul>
      </div> <!-- text area -->
      <div class="col-xs-12 col-md-12">
        <form ng-submit="sendMessage();">
          <fieldset class="row">
            <div class="input-group">
              <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
              </span>
            </div>
          </fieldset>
        </form>
      </div> <!-- message form -->
    </div> <!-- chat wrapper -->


    <!-- News Feed -->
    <div class="col-md-7 news-wrapper">

      <div class="row page-header title">
        <div class="col-lg-12 small">
          <h1 class="inline-block"><small>News Feed</small></h1>
        </div>
        <!-- Search through feeds-->
        <div class="col-sm-12 col-md-12 input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
          </span>
          <input type="text" ng-disabled="!(feeds.length > 0)" class="form-control" placeholder="Search" data-ng-model="filterText"/>
          <span class="input-group-addon">
            {{(feeds | filter:filterText).length}} Items
          </span>
        </div>
      </div> <!-- page-header-->


      <div class="feed-area">
        <ul class="list-group">
          <li ng-repeat="feed in feeds | filter:filterText" class="list-group-item">
            <a href="{{feed.link}}" class="list-group-item">
              <h4 class="list-group-item-heading">{{feed.title}}</h4>
              <p class="list-group-item-text">{{feed.contentSnippet}}</p>
              <span class="small">{{feed.publishedDate}}</span>
            </a>
          </li>
        </ul>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </div> <!-- feed area-->

      <div class="input-group">
        <span class="input-group-btn">
          <div class="btn-group dropup" dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
              {{feedDefault}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" dropdown-menu role="menu" aria-labelledby="single-button">
              <li ng-repeat="feed in RSSfeeds" role="menuitem">
                <a href="#" ng-click="loadFeed(feed.content, $event, null);">{{feed.title}}</a></li>
            </ul>
          </div>
        </span>
        <input type="text" class="form-control" id="inputFeedURL" autocomplete="off" placeholder="Enter Feed URL" data-ng-model="feedSrc" />
        <span class="input-group-btn">
          <div class="btn-group">
            <button id="single-button"
                    type="button"
                    ng-disabled="!feedSrc.length"
                    class="btn btn-primary"
                    ng-click="loadFeed(feedSrc, $event, 'Custom');">
              Go
            </button>
          </div>
        </span>
      </div><!-- input-group -->
    </div><!-- news wrapper -->


  </div>
</section>
